<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cadastro de Pessoa</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm">
                            <div class="row">
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Código" disabled
                                            name="id" formControlName="id" 
                                            [(ngModel)]="dataSource.id">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">   
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Razão Social"
                                             name="razaoSocial" formControlName="razaoSocial" 
                                             [(ngModel)]="dataSource.razaoSocial">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email" type="email"
                                            name="email" formControlName="email" 
                                            [(ngModel)]="dataSource.email">
                                    </mat-form-field>
                                </div>
                            </div>
                          
                            <button mat-raised-button type="submit" 
                                    class="btn btn-danger pull-right"
                                    (click)="salvar()">Salvar</button>
                            <button mat-raised-button type="button" 
                                    class="btn btn-default pull-right" 
                                    (click)="cancelar()">Cancelar</button>
                          <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
  